  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: right;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

nav button {
    background-color: #ff6347;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.add-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.add-ref {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30%;
    margin: 15px 0;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.add-ref img {
    width: 100%;
    height: auto;
}

.add-ref h2, .add-ref p {
    margin: 10px 0;
}

.add-ref h2{
  text-align: center;
}